<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Book Reviews</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>All Book Reviews</h1>
    <video autoplay loop muted id="background-video-clip">
      <source src="/images/space-portal.960x540.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <!-- Display Existing Books -->
    <ul>
      <% books.forEach((book, index) => { %>
      <li>
        <div class="book-box">
          <strong class="book-tittle">Title:</strong> <%= book.title %><br />
          <strong class="book-review">Review:</strong> <%= book.review %><br />
          <strong class="book-rating">Rating:</strong> <%= book.rating %>/5<br />
        </div>
        <!-- Edit Button -->
        <form action="/api/books/<%= book.id %>?_method=PUT" method="POST">
          <input type="text" name="title" value="<%= book.title %>" required />
          <textarea name="review" required><%= book.review %></textarea>
          <input
            type="number"
            name="rating"
            value="<%= book.rating %>"
            min="1"
            max="5"
            required
          />
          <button type="submit">Edit</button>
        </form>

        <!-- Delete Button -->
        <form action="/api/books/<%= book.id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
      <hr />
      <% }) %>
    </ul>

    <!-- Add New Book -->
    <h2>Add a New Book</h2>
    <form action="/api/books" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />
      <br />
      <label for="review">Review:</label>
      <textarea id="review" name="review" required></textarea>
      <br />
      <label for="rating">Rating:</label>
      <input type="number" id="rating" name="rating" min="1" max="5" required />
      <br />
      <button type="submit">Add Book</button>
    </form>

    <a class="reroute" href="/">Go Back</a>
  </body>
</html>
